ln {
    font-color: #ff0099;
}

body {
    background-image: url("file:///D:Green Fox/course/week-01/day-02/images/topography.png");
    padding: 0 10%;
}

header {
    background-color: #333333;
    padding: 0;
}

h1 {
    font-family: 'Kavivanar', cursive;
}

tt {
    color: #ff0099;
    font-size: 120%;
}

p {
    font-family: consolas, courier;
}

sp {
    font-size: 150%;
    margin: 2em auto 2em;
}

h2 {
    font-family: 'Kavivanar', cursive;
    margin: auto;
}

is {
    font-size: 120%;
}
