@model BankOfSimba.Models.BankAccount
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p><strong>Name:</strong> @Model.Name</p>
    <p><strong>Balance:</strong> @Model.Balance.ToString("0.00") @Model.Currency</p>
    <p><strong>Animal type:</strong> @Model.AnimalType</p>
</body>
</html>
