@model ListingTodos.Model.Todo

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <title></title>
</head>
<body>
    <h2>Edit a ToDo</h2>

    <form action="update" role="form">
        <ul>
            <li><label for="title">ToDo Action</label>
            <input type="text" id="title" name="title"
                   placeholder="@Model.Title" ></li>
            <li><label>Urgent?</label>
                @if (Model.IsUrgent == true)
                    {<input type="checkbox" name="isUrgent" checked />}
                else
                    {<input type="checkbox" name="isUrgent" unchecked />}
            </li>
            <li><label>Done?</label>
                @if (Model.IsDone == true)
                    {<input type="checkbox" name="isDone" checked />}
                else
                    {<input type="checkbox" name="isDone" unchecked />}
            </li>
        </ul>

        <button type="submit" class="btn btn-success">Update ToDo</button>
    </form>

</body>
</html>