@model BankOfSimba.Models.BankAccount
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p>
        Name: @Model.Name
        Balance: @Model.Balance
        Animal type : @Model.AnimalType
    </p>
</body>
</html>
